* {
  border: 2px solid peachpuff;
  font-family: Trebuchet, sans-serif;
}

/* Bright blue: #51e2f5

Blue Green: #9df9ef

Dusty White: #edf756

Pink Sand: #ffa8B6

Dark Sand: #a28089 */

body {
  height: 100vh;
  display: flex;
  text-align: center;
  contain:content;
}

h1, h2 {
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

.welcome-customer-container{
  /* float: left; */
  width: auto;
  height: 98vh;
  contain: content;
  /* padding: 1px; */
}

.booking-grid-container {
  display: flex;
  flex-wrap: wrap;
  /* float: right; */
  width: auto;
  height: 98vh;
  overflow: clip scroll;
  contain: content;
  margin-bottom: 0px;
}

.reservation-card {
  display: flex;
  text-align: center;
  border-radius: 15%;
  margin: 20px 10px 5px 20px;
  height: 40%;
  width: 40%;
  contain: content;
}

.room-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  contain: content;
}

.book-room-button {
  margin-top: 0;
}

/* button {
  margin: 2%;
  width: 40%;
  align-self: center;
  border-radius: 75%;
  padding: 15px;
} */

.filter-by-room-preference-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  contain: content;
}

/* p {
  overflow: visible;
  overflow-wrap: normal;
} */
/* ^^^SAVE FOR WHEN IMPORTING DATA^^^ */

img {
  height: 100%;
  width: 40%;
}
/* ^^^planned out image to suit figma planning doc something to check in styling later^^^ */

.hidden {
  display: none;
}